<th:block xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	th:fragment="homeTeamFragment"
	th:unless="${#lists.isEmpty(homeTeamList)}">
	<label id="lblHomeTeamList" class="show-tooltip" title="Select a home team for the game">Select home team</label>
	<select id="homeTeam.id" name="homeTeam.id" th:name="homeTeam.id" th:field="*{homeTeam.id}">
		<option th:each="homeTeamEntry : ${homeTeamList}" 
				th:value="${homeTeamEntry.id}" th:text="${homeTeamEntry.tournament.name} + ' ' + ${homeTeamEntry.tournament.year} + '/' + ${homeTeamEntry.team.name}">
		</option>
	</select>
</th:block>