<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>VEIKKAUS ### List of all tournaments ###</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<tr>
			<th>Name</th>
			<th>Year</th>
		</tr>
		<tr th:each="tournament : ${tournaments}">
			<td th:text="${tournament.name}"/>
			<td th:text="${tournament.year}"/>
			<!-- <td><a th:href="@{/tournament/tournamentdetails(id=${tournament.id},name=${tournament.name},year=${tournament.year})}">Show details</a></td>-->
			<td><a th:href="@{/tournament/tournamentdetails(id=${tournament.id})}">Show details</a></td>
			<!-- @{/order/{id}/details(id=3,action='show_all')} -->
			
			<!--  <td>
			<form action="#" th:action="@{tournamentdetails}" th:object="${tournament}" method="post">
	        	<p><input type="submit" value="Submit" /></p>
    		</form>
			</td> -->
		</tr>
	</table>
</body>
</html>
