<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>VEIKKAUS ### Tournament create ###</title>
	<link th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}" rel="stylesheet" />
	<link th:href="@{/veikkaus-jquery-style.css}" rel="stylesheet" />
	<script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
	<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
	<h1>Create new tournament</h1>
	<p>
		<a id="tooltipList" th:href="@{/tournament/getAll}"	title="Go back to tournament list">Back to tournament list</a>
	</p>
	<br/>
	<form action="#" th:action="@{/tournament/postCreate}" th:object="${tournament}" method="post">
		<p>
			Name: <input type="text" th:field="*{name}"/>
		</p>
		<p>
			Year: <input type="text" th:field="*{year}"/>
		</p>
		<p>
			<button id="buttonCreate" type="submit"
				class="show-tooltip ui-button ui-corner-all ui-widget" title="Create tournament">Create tournament
			</button>
			<button id="buttonReset" type="reset"
				class="show-tooltip ui-button ui-corner-all ui-widget" title="Reset fields">Reset fields
			</button>
		</p>
	</form>
	<script th:src="@{/js/common-navigation.js}"></script>
</body>
</html>
