<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>VEIKKAUS ### User create ###</title>
	<link th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}" rel="stylesheet" />
	<link th:href="@{/veikkaus-jquery-style.css}" rel="stylesheet" />
	<script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
	<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
	<h1>Create new user</h1>
	<p>
		<a class="show-tooltip" th:href="@{/user/getAll}"
			title="Go back to user list">Back to user list</a>
	</p>
	<br/>
	<form action="#" th:action="@{/user/postCreate}"
		th:object="${user}" method="post">
		<div>
			<label class="show-tooltip" title="Select a user role for the user">Select user role</label>
			<select th:field="*{userRole.id}">
				<option th:each="userRole : ${allUserRoles}" 
						th:value="${userRole.id}" th:text="${userRole.name}">
				</option>
			</select>
		</div>
		<p>
			Email: <input type="text" th:field="*{email}"/>
			Name: <input type="text" th:field="*{name}"/>
			Password: <input type="text" th:field="*{password}"/>
		</p>
		
		<p>
			<button type="submit"
				class="show-tooltip ui-button ui-corner-all ui-widget" title="Create user">
				Create user
			</button>
			<button type="reset"
				class="show-tooltip ui-button ui-corner-all ui-widget" title="Reset fields">
				Reset fields
			</button>
		</p>
	</form>
	<script th:src="@{/js/common-navigation.js}"></script>
</body>
</html>
