<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>VEIKKAUS ### Tournament list ###</title>
	<link th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}" rel="stylesheet" />
	<link th:href="@{/veikkaus-jquery-style.css}" rel="stylesheet" />
	<link th:href="@{/babel.css}" rel="stylesheet" />
</head>
<body>
	<nav role="navigation" id="header" class="navbar navbar-default navbar-fixed-top">
		<div class="container">		
			<div id="navigation" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a id="tournamentsLink" href="tournament/getAll" title="Go see tournaments">Tournaments</a></li>
					<li><a id="teamsLink" href="team/getAll" title="Go see teams">Teams</a></li>
					<li><a id="tournamentTeamsLink" href="tournamentTeam/getAll" title="Go see tournament teams">Tourn. teams</a></li>
					<li><a id="playersLink" href="player/getAll" title="Go see players">Players</a></li>
					<li><a id="tournamentPlayersLink" href="tournamentPlayer/getAll" title="Go see tournament players">Tourn. players</a></li>
					<li><a id="gamesLink" href="scorer/getAll" title="Go see games">Games</a></li>
					<li><a id="scorersLink" href="scorer/getAll" title="Go see scorers">Scorers</a></li>
					<li><a id="userRolesLink" href="userRole/getAll" title="Go see user roles">User roles</a></li>
					<li><a id="usersLink" href="user/getAll" title="Go see users">Users</a></li>
					<li><a id="statusesLink" href="scorer/getAll" title="Go see statuses">Statuses</a></li>
					<li><a id="betsLink" href="scorer/getAll" title="Go see bets">Bets</a></li>
					<li><a id="betResultsLink" href="scorer/getAll" title="Go see bet results">Bet results</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<p>
		<a id="tooltipIndex" th:href="@{/index.html}"
			title="Go back to main page">Back to main page</a>
	</p>
	<p>
		<a id="tooltipCreate" th:href="@{/tournament/getCreate}"
			title="Create new tournament">Create a new tournament</a>
	</p>
	<table>
		<tr>
			<th>Name</th>
			<th>Year</th>
		</tr>
		<tr th:each="tournament : ${tournaments}">
			<td th:text="${tournament.name}" />
			<td th:text="${tournament.year}" />
			<td><a id="tooltipDetails"
				th:href="@{/tournament/getDetails(id=${tournament.id})}"
				title="Show details of tournament">Show details</a></td>
			<td><a id="tooltipModify"
				th:href="@{/tournament/getModify(id=${tournament.id})}"
				title="Modify details of tournament">Modify</a></td>
			<td><a id="tooltipDelete"
				th:href="@{/tournament/getDelete(id=${tournament.id})}"
				title="Delete tournament">Delete</a></td>
		</tr>
	</table>

	<script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
	<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
	<script>
		$("#tournamentsLink").tooltip();
		$("#teamsLink").tooltip();
		$("#tournamentTeamsLink").tooltip();
		$("#playersLink").tooltip();
		$("#tournamentPlayersLink").tooltip();
		$("#gamesLink").tooltip();
		$("#scorersLink").tooltip();
		$("#userRolesLink").tooltip();
		$("#usersLink").tooltip();
		$("#statusesLink").tooltip();
		$("#betsLink").tooltip();
		$("#betResultsLink").tooltip();
	
		$("#tooltipIndex").tooltip();
		$("#tooltipCreate").tooltip();
		$("#tooltipDetails").tooltip();
		$("#tooltipModify").tooltip();
		$("#tooltipDelete").tooltip();
	</script>

</body>
</html>
