<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>VEIKKAUS ### Tournament details ###</title>
<link th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}"
	rel="stylesheet" />
<link th:href="@{/veikkaus-jquery-style.css}" rel="stylesheet" />
</head>
<body>
	<h1>Details</h1>
	
	<p>
		<a id="tooltipList" th:href="@{/tournamentTeam/getAll}"
			title="Go back to tournament team list">Back to tournament team list</a>
	</p>
	<br />

	<p th:text="'tournament name: ' + ${tournamentTeam.tournament.name}" />
	<p th:text="'tournament year: ' + ${tournamentTeam.tournament.year}" />
	<p th:text="'team name: ' + ${tournamentTeam.team.name}" />

	<script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
	<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
	<script>
		$("#tooltipList").tooltip();
	</script>

</body>
</html>