<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>VEIKKAUS ### Game modify ###</title>
	<link th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}" rel="stylesheet" />
	<link th:href="@{/veikkaus-jquery-style.css}" rel="stylesheet" />
	<script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
	<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
	<h1>Modify Game</h1>
	<p>
		<a id="tooltipList" th:href="@{/game/getAll}" title="Go back to game list">
		Back to game list</a>
	</p>
	<br/>
	<form action="#" th:action="@{/game/postModify}"
		th:object="${game}" method="post">
		<input type="hidden" th:field="*{id}" />

		<div id="tournamentListDiv" th:object="${game}">
			<label id="lblTournament" class="show-tooltip" title="Select a tournament">Select tournament</label>
			<select id="selTournament" th:field="*{tournament.id}">
				<option th:each="tournament : ${allTournaments}" 
						th:value="${tournament.id}" th:text="${tournament.name} + ' ' + ${tournament.year}">
				</option>
			</select>
		</div>

		<div id="homeTeamDiv"></div>
		<div id="awayTeamDiv"></div>

		<div id="textFieldDiv">
			<p>
				Home score: <input type="text" th:field="*{homeScore}"/>
				Away score: <input type="text" th:field="*{awayScore}"/>
				Game date: <input type="text" th:field="*{gameDate}"/>
			</p>
		</div>
		<button id="buttonModify" type="submit" title="Save changed game information to database">Save to DB</button>
	</form>
	<script th:src="@{/js/game.js}"></script>
	<script th:src="@{/js/common-navigation.js}"></script>
</body>
</html>