<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>VEIKKAUS ### Team  modify ###</title>
	<link th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}" rel="stylesheet" />
	<link th:href="@{/veikkaus-jquery-style.css}" rel="stylesheet" />
	<script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
	<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
	<h1>Modify team</h1>
	<p>
		<a id="tooltipList" th:href="@{/team/getAll}" title="Go back to team list">Back to team list</a>
	</p>
	<br/>
	<form action="#" th:action="@{/team/postModify}" th:object="${team}" method="post">
		<input type="hidden" th:field="*{id}" /> <input type="text" th:field="*{name}" />
		<button class="show-tooltip" type="submit" title="Save changed team information to database">Save to DB</button>
	</form>
	<script th:src="@{/navigation.js}"></script>
</body>
</html>