<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>VEIKKAUS ### Player create ###</title>
	<link th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}" rel="stylesheet" />
	<link th:href="@{/veikkaus-jquery-style.css}" rel="stylesheet" />
	<script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
	<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
	<h1>Create new player</h1>
	<p>
		<a id="tooltipList" th:href="@{/player/getAll}" title="Go back to player list">Back to player list</a>
	</p>
	<br/>
	<form action="#" th:action="@{/player/postCreate}"
		th:object="${player}" method="post">
		<p>
			First name: <input type="text" th:field="*{firstName}"/>
			Last name: <input type="text" th:field="*{lastName}"/>
		</p>
		<p>
			<button type="submit"
				class="show-tooltip ui-button ui-corner-all ui-widget" title="Create player">Create player
			</button>
			<button type="reset"
				class="show-tooltip ui-button ui-corner-all ui-widget" title="Reset fields">Reset fields
			</button>
		</p>
	</form>
	<script th:src="@{/js/common-navigation.js}"></script>
</body>
</html>
