<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>VEIKKAUS ### Player confirm delete ###</title>
	<link th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}" rel="stylesheet" />
	<link th:href="@{/veikkaus-jquery-style.css}" rel="stylesheet" />
	<script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
	<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
	<h1>Player delete confirm</h1>
	<p th:text="'First name: ' + ${player.firstName}" />
	<p th:text="'Last name: ' + ${player.lastName}" />
	<form action="#" th:action="@{/player/postDelete}" th:object="${player}" method="post">
		<input type="hidden" th:field="*{id}" />
		<button type="submit"
			class="ui-button ui-corner-all ui-widget"
			title="Confirm deleting of player">Confirm deleting player
		</button>
	</form>
	<form action="#" th:action="@{/player/getAll}"
		th:object="${player}" method="get">
		<button type="submit"
			class="ui-button ui-corner-all ui-widget"
			title="Cancel deleting of player">Cancel deleting player
		</button>
	</form>
	<script th:src="@{/js/common-navigation.js}"></script>
</body>
</html>