<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>VEIKKAUS ### Game create ###</title>
	<link th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}" rel="stylesheet" />
	<link th:href="@{/veikkaus-jquery-style.css}" rel="stylesheet" />
	<script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
	<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
	<h1>Create new game</h1>
	<p>
		<a class="show-tooltip" th:href="@{/game/getAll}"
			title="Go back to game list">Back to game list</a>
	</p>
	<br/>
	<form action="#" th:action="@{/game/postCreate}"
		th:object="${game}" method="post">
		<!-- 
		<div>
			<label class="show-tooltip" title="Select a tournament">Select tournament</label>
			<select th:field="*{tournament.id}">
				<option th:each="tournament : ${allTournaments}" 
						th:value="${tournament.id}" th:text="${tournament.name} + ' ' + ${tournamnent.year}">
				</option>
			</select>
		</div>
		 -->
		<div>
			<label class="show-tooltip" title="Select a home team for the game">Select home team</label>
			<select th:field="*{homeTeam.id}">
				<option th:each="homeTeam : ${allTournamentTeams}" 
						th:value="${homeTeam.id}" th:text="${homeTeam.team.name}">
				</option>
			</select>
		</div>
		<div>
			<label class="show-tooltip" title="Select an away team for the game">Select away team</label>
			<select th:field="*{awayTeam.id}">
				<option th:each="awayTeam : ${allTournamentTeams}" 
						th:value="${awayTeam.id}" th:text="${awayTeam.team.name}">
				</option>
			</select>
		</div>
		<p>
			Home score: <input type="text" th:field="*{homeScore}"/>
			Away score: <input type="text" th:field="*{awayScore}"/>
			Game date: <input type="text" th:field="*{gameDate}"/>
		</p>
		
		<p>
			<button type="submit"
				class="show-tooltip ui-button ui-corner-all ui-widget" title="Create game">
				Create game
			</button>
			<button type="reset"
				class="show-tooltip ui-button ui-corner-all ui-widget" title="Reset fields">
				Reset fields
			</button>
		</p>
	</form>
	<script th:src="@{/navigation.js}"></script>
</body>
</html>
