<!doctype html>
<html lang="fi" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>VEIKKAUS ### Tournament team confirm delete ###</title>
	<link th:href="@{/jquery-ui-1.12.1.custom/jquery-ui.css}" rel="stylesheet" />
	<link th:href="@{/veikkaus-jquery-style.css}" rel="stylesheet" />
	<script th:src="@{/jquery-ui-1.12.1.custom/external/jquery/jquery.js}"></script>
	<script th:src="@{/jquery-ui-1.12.1.custom/jquery-ui.js}"></script>
</head>
<body>
	<h1>Tournament team delete confirm</h1>
	<p th:text="'Tournament name: ' + ${tournamentTeam.tournament.name}" />
	<p th:text="'Tournament year: ' + ${tournamentTeam.tournament.year}" />
	<p th:text="'Team name: ' + ${tournamentTeam.team.name}" />
	<form action="#" th:action="@{/tournamentTeam/postDelete}"
		th:object="${tournamentTeam}" method="post">
		<input type="hidden" th:field="*{id}" />
		<button type="submit"
			class="ui-button ui-corner-all ui-widget"
			title="Confirm deleting of tournament team">Confirm deleting
			tournament team</button>
	</form>
	<form action="#" th:action="@{/tournamentTeam/getAll}"
		th:object="${tournamentTeam}" method="get">
		<button type="submit"
			class="ui-button ui-corner-all ui-widget"
			title="Cancel deleting of tournament team">
			Cancel deleting tournament team
		</button>
	</form>
	<script th:src="@{/navigation.js}"></script>
</body>
</html>