<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>VEIKKAUS ### Tournament modify ###</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Modify tournament</h1>
	
	<p><a th:href="@{/tournament/getAll}">Back to tournament list</a></p>
	<br/>

	<form action="#" th:action="@{/tournament/postModify}" th:object="${tournament}" method="post">
		<input type="hidden" th:field="*{id}" />
		<input type="text" th:field="*{name}" />
		<input type="text" th:field="*{year}" />
		<button type="submit">Save to DB</button>
	</form>
	
</body>
</html>